*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Firebase設定ファイル
firebase.json
.firebaserc
firebase-debug.log
database.rules.json
firestore.rules
firestore.indexes.json
storage.rules
firebase-export-*
.firebase/
